<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="loco.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>

  <div id="minicircle"></div>

  <div id="main">
    
    <div id="back">
      <img src="../static/assets/index_background.jpg" alt="">
    </div>

    <div id="top">
      <div id="workingarea">
        <div id="nav">
          <img src="../static/assets/index_logo.png" alt="">
          <a href="/">Home</a>
          <a href="/login">Member's Area</a>
          <a href="">Trainer's Area</a>
          <a href="/signup">Signup</a>
        </div>

        <div id="heading">

          <div class="bounding">
              <h1 class="boundingelem">Finish</h1>
          </div>
          
           <div class="blocktext">

              <div class="bounding">
                  <h1 class="boundingelem" id="secondh1">strong</h1>
              </div>

              <div class="bounding">
                  <h5 class="boundingelem">based in delhi</h5>
              </div>

           </div>
        
        <div id="footer">

          <div id="footerleft">
              <h5>2023 &copy;</h5>
              <h5>All rights Reserved</h5>
          </div>

          <div id="footerright">
              <a href="#">facebook</a>
              <a href="#">linkedin</a>
              <a href="#">instagram</a>
              <a href="#">twitter</a>
          </div>

        </div>
        
        </div>

      </div>




    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
    <script src="../static/index.js"></script>


</body>
</html>