<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body style="background-color: black;" >
  <div id="main">
    <div id="back">
      <img src="../assets/IMG_7564.JPG" alt="">
    </div>
    <div id="top">
      <div id="working_area">
        <div id="nav">
          <div id="navleft">
            <img src="../assets/index_logo.png" alt="">

          </div>
          <div id="navright">

          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>